{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>
        Edit User
        <button class="btn" style ="float:right; color: black;"><a href="{{ path('user_index') }}" style ="color: black; font-size: 20px;">back to list</a></button>
    </h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
