{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>
        Create new User
        <button class="btn" style ="float:right; color: black;"><a href="{{ path('user_index') }}" style ="color: black; font-size: 20px;">Cancel</a></button>
    </h1>

    {{ include('user/_form.html.twig') }}
{% endblock %}
