{% extends 'base.html.twig' %}

{% block title %}Edit Book{% endblock %}

{% block body %}
    <h1>
        Edit Book
        <button class="btn" style ="float:right; color: black;"><a href="{{ path('book_sell') }}" style ="color: black; font-size: 20px;">back to list</a></button>
    </h1>

    {{ include('book/_form.html.twig', {'button_label': 'Update'}) }}

    <br>
    
    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
