{% extends 'base.html.twig' %}

{% block title %}Order History{% endblock %}

{% block body %}
    <h1>Transaction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Price</th>
                <th>Book</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions if transaction.buyer == app.user.username%}
            <tr>
                <td>{{ transaction.price }}</td>
                <td>{{ transaction.book }}</td>
                {% if transaction.book.status == null %}
                    <td style ="font-size: 15px; font-family: Segoe Script; ">Waiting for Seller to decided</td>
                {% else %}
                    {% if transaction.book.transaction ==  transaction %}
                        <td style ="font-size: 15px; font-family: Segoe Script; ">Congratulation, you have got the book</td>
                    {% else %}
                        <td style ="font-size: 15px; font-family: Segoe Script; ">* Sorry, you didn't got the book *</td>
                    {% endif %}
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
