{% extends 'base.html.twig' %}

{% block title %}About Page{% endblock %}

{% block body %}
    <h1>About Page</h1>
    <img src ="/images/1.jpg"><br><br>
    <p style ="font-size: 20px; font-family: Segoe Script;">
        D.O.B.S is a online book store that supports people from all over the world to buy or sell book using this website. We offer to help for free delivery worldwode (without minimum spend).
        <br><br>
        We ship the products the next day morning after after the seller made the decision from our warehouse which in Ireland, Australia, and Chine to more than 130 countries acress the world. However, this platform only supported to pay by PayPal with the currency from different countries .
        <br><br>
        Our vision is to provide “All Books Available to All” by improving selection, access and affordability of books.
    </p>
{% endblock %}