{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <img src = "/images/destination.jpg" width = 365px> <img src = "/images/aParisYear.jpg" width = 365px> <img src = "/images/thinking.jpg" width = 365px>
    <br><br>
    <h3 style ="font-size: 50px; font-family: Segoe Script; text-align: center;">Welcome to the Book World.</h3>
    <p style ="font-size: 18px; font-family: Segoe Script; text-align: center;">
        This is a user-friendly website that support worldwide people to bid their favourite book.
        <br>
        Let's enjoy reading before sleep everyday.
        <br>

    </p><br>
    <img src = "/images/heyWarrior.png" width = 365px> <img src = "/images/huntress.jpg" width = 365px> <img src = "/images/findMomo.jpg" width = 365px>

    Change PhpBrowser to WebDriver to enable browser testing 2. Edit tests/functional.suite.yaml to enable a Doctrine module if needs. 3. Create your first acceptance tests using vendor/bin/codecept g:cest acceptance First
    Adding phpunit/phpunit as a dependency is discouraged in favor of Symfony's PHPUnit Bridge
{% endblock %}
