{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h1>Home Page</h1>
    <br>
    <img src ="/images/1.jpg">
    <br><br>
    <h3 style="text-align: center; ">Welcome to the Book World.</h3>
{% endblock %}
